---
const platform = "github";
const username = "withastro";
const fb = "facebook";
const fbuser = "hellocatdigital";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Find me on <a href={`https://www.${fb}.com/${fbuser}`}>{fb}</a>!</p>
</footer>